<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hyunjong_shin_ibrahim_jomma_comp304_lab04">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PatientUpdateActivity"></activity>
        <activity android:name=".TestActivity" />
        <activity android:name=".ViewTestInfoActivity" />
        <activity android:name=".PatientRegisterActivity" />
        <activity android:name=".PatientActivity" />
        <activity android:name=".SignIn" />
        <activity android:name=".SignUp" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>